.login-section {
    position: relative;
    width: 100vw;
    height: 90vh;
}
.login-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: block;
}
.login-div h1 {
    display: block;
    text-align: center;
    padding-bottom: 1.6rem;
}
.login-div p {
    color: #8491A7;
    margin: 1rem 0;
}
.password-container {
    position: relative;
    display: inline-block;
}
.toggle-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.4rem;
    height: 1.1rem;
    background: url("/aders/assets/showpw.svg") no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
}
.login-div input,
.password-container input{
    width: 30rem;
    max-width: 30rem;
    border: 1px solid #8491A7;
    border-radius: 6px;
    -moz-appearance: textfield;
    text-align: left;
    outline: 0;
    padding: 1.6rem 0.7rem;
    background-color: #EFF5FF;

}

.login-div input::placeholder {
    color: #DADFEB;
}
.login-btn-box {
    margin: 3rem 0;
    width: 100%;
}
.login-btn{
    width: 100%;
    height: 4.2rem;
    margin: 1rem 0;
    border-radius: 6px;
    align-content: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}
.login-btn {
    background-color: var(--primary-blue);
    color: #fff;
}
